name = "ban-appeal"
type = "javascript"
zone_id = ""
account_id = ""
route = ""
workers_dev = true
compatibility_date = "2022-06-20"

[build]
command = "yarn install && yarn build"
[build.upload]
format = "service-worker"
